.input {
  padding: 0.5rem;
  width: 70rem;
}

.btn {
  padding: 1rem 2.5rem;
  border: 1px solid rgb(76, 73, 73);
  background-color: black;
  font-size: 1.5rem;

  color: #fff;
  margin: 3rem;
  border-radius: 5%;
  cursor: pointer;
  box-shadow: none;
  font-weight: bold;
}
