* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  background-color: antiquewhite;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  height: 100vh;
}
